@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  font-family: "Jost", sans-serif;
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

::before,
::after {
  --tw-content: "";
}

html {
  line-height: 1.5; /* 1 */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}

.react-calendar {
  border: none !important;
}
.react-calendar__month-view__weekdays {
  color: gray;
  font-weight: 600 !important;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  cursor: default !important;
}
.react-calendar__tile:hover {
  background: transparent !important;
}
.react-calendar__tile--now:enabled {
  background: white;
}
.react-calendar__month-view__days__day--weekend {
  color: initial !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}
